.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.box{
  margin-top: 5vh;

}
.character-box{
  display: flex;
  flex-direction: row;
  height: 90vh;
  overflow: hidden;
}

.character-list{
  width: 20%;
  flex-direction:row; 
  overflow-y: auto;
}

.character-list button{
  width: 100%;
  background-color: #282c34;
  color: white;
  padding:0;
  height: 3em;
  border:0;
}
.character-list button:hover{
  background-color: #4e535c;
  font-weight: bolder;
}
.character-detail{
  padding-top: 5vh;
  color: white;
  width: 80%;
  margin: 0;
  flex-direction:row; 
}
.character-detail h2, h3{
  margin-top:0;
  margin-left: 2em;
  margin-right: 2em;
}
.search{
  text-align: center;
  width:100%;
}
.top-bar{
  color: white;
  background-color: #282c34;
}
.top-bar h1{
  margin:0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
